ACTION!="remove", SUBSYSTEM=="input", KERNEL=="event*", ENV{ID_PATH}=="platform-3f804000.i2c", SYMLINK+="input/cardputer-zero-internal", ENV{ID_SEAT}="seat-cardputer-zero", GROUP="input", MODE="0660"